<!DOCTYPE html>
{% load static %}
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block tittle_bar %}Tittle default{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>
<body>
     <header>
        <div class="logo">
            <a href="{% url 'home' %}"><span><i class="fa-solid fa-circle"></i>PokeLab</span></a>
        </div>
        <nav>
            <ul>
                <li><a href="#">Mis equipos</a></li>
                <li><a href="#">Pokédex</a></li>
            </ul>
        </nav>
        <div class="profile">
            <i class="fa-solid fa-circle-user"></i>
        </div>
    </header>
    <main>
        {% block content %}
            <p>Content default</p>
        {% endblock %}
    </main>
    <footer>
        <p>&copy; La web está hecha para repasar conceptos como el DOM en JS y en Django las diferentes relaciones y CBV</p>
    </footer>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>