{% extends 'core/base.html' %}

{% block tittle_bar %}
    Detalle de {{team.name}} - Pokelab
{% endblock %}

{% block content %}
<h1>{{team.name}}</h1>
<small>{{team.description}}</small>

{% for pokemon in team.pokemon_set.all %}
    <p>{{pokemon.nickname}}</p><a href="{% url 'delete_pokemon' team_id=team.id pk=pokemon.pk  %}">Borrar</a>
    {% for type in pokemon.type.all %}
        <p>{{type.name}}</p>
    {% endfor %}
{% endfor %}
<a href="{% url 'add_pokemon' team.id %}">Añadir Pokémon</a>
{% endblock %}