body {
  background-color: rgb(211, 211, 211);
  color: gray;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    background-color: rgb(255, 23, 23);
    padding: 2px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;;
}

.logo span{
    font-weight: bold;
    color: white;
    display: flex;
    gap: 5px;
}

.button-create {
    color: rgb(255, 255, 255);
    height: 50px;
    background-color: rgb(255, 23, 23);
    padding: 10px;
    border-radius: 20px;
}

ul {
    list-style: none;
    display: flex;
    color: white;
    gap: 30px;
}

a {
    text-decoration: none;
    color: white;
}

.fa-circle-user {
    color: white;
    font-size: xx-large;
}

.card {
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius:20px;
    width: 250px;
    padding: 0px 10px;
    background-color: rgb(255, 255, 255);
    color: black;
    
    
}

.card > a {
    color: black;
    background-color: red;
    padding: 5px 10px;
    border-radius: 20px;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;

}

.section-tittlecta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.button-create {
    width: 200px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

main {
    padding: 50px;
    color: black;
}

.button-create span {
    display: flex;
    gap: 5px;
}

section:first-of-type {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 20px;
    gap: 29px;
}

.none-team {
    border: 2px solid rgb(255, 0, 0);
    border-style: dashed;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    border-radius: 20px;
}
.info h3 {
    margin: 0;
}

.info {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.none-team a {
    background-color: red;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
}

section:last-of-type {
    padding: 20px;
    width: 100%;
    display: flex;
}

section:last-of-type article{
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}


